/*     ¡¡¡¡¡¡A T E N C I O N!!!!!!
.    Muchas gracias por su atencion.
Y si kp me tome el tiempo de comentar todo
este divague porque si no me pierdo y asi
lgm estos comentarios ko son para mi nm luego
porque si no chauche y me olvido todito lo 
que escribi y de paso puedo purgar tambien mi
codigo onda laxante pilla pio. 
Y que no tenga tanta porqueria que no
sirve para nada (como yo para mi familia)
Si si si como que no claro que si
aguante cerro kpelu al que le gusta le
gusta al que no que se disfrace oime foquito
prendido ha togue. Muchas gracias */



body{
    background-color:#ffffff ; /* <-- Color de fondo awantaaa */
    text-align: center; /* <-- Alinea los textos en el centro */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* <-- El tipo de letra sabes luego */
    color:rgb(255, 255, 255); /* <-- El color de la letra */
}



                                                                /*TEXTO*/


/*Describe los tipos de datos que se piden en esa seccion del formulario*/
h3{
    color:#ffffff; /* <-- Color del h3. No me digas. Si kp asi es */
    padding-left: 12px; /* <-- Para que se quede a la izquierda*/
    font-size: 25px; /* <-- Tamanio, perdon no tengo la enhe */
    font-weight: 700; /* <-- Para que sea nigga'i (negrita) */
}

/* Los textos donde se especifican para que son necesarios los datos */
h4{
    color:rgb(119, 40, 61); /* <-- Color del h4. No me digas. Si kp asi es */
    padding-left: 22px;  /* <-- Para que se quede a la izquierda*/
    font-size: 19px; /* <-- Tamanio, perdon no tengo la enhe */
    font-weight: 700; /* <-- Para que sea nigga'i (negrita) */
}

h5{
    margin: 1px;
    color:rgb(255, 255, 255); /* <-- Color del h4. No me digas. Si kp asi es */
    padding-left: 22px;  /* <-- Para que se quede a la izquierda*/
    font-size: 12px; /* <-- Tamanio, perdon no tengo la enhe */
    font-weight: 700; /* <-- Para que sea nigga'i (negrita) */
}

                                                            /* < D I V S >*/

/* <div> El div de arriba mismo, donde esta el logo */
.encabezado{
    text-align: left; /* <-- Alinea los textos en el centro */
    padding-left: 15%;
    background:#3B3B3F;  /* <-- Color de div awantaaa */
    width: 99%;  /* <-- Largo de mi pi... del div */
    height: 65px;  /* <-- La altura del div */
    padding-top: 19px;  /* <-- Para que el texto este bien separadito asi todo chetito*/
    padding-bottom: 4px; /* <-- Lo mismo de arriba*/
    border-radius: 10px; /* <-- Lo mismo de arriba*/
    overflow: hidden; /* <-- Este puse porque se formaba un cuadradito feo en el div que ni puta idea de pq pero con este solucione*/
}

/* <div> Los divs donde se encuentran las secciones del formulario */
.seccion{
    text-align: left; /* <-- Alinea los textos en el centro */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*<-- El tipo de letra sabes luego */
    margin: 0 auto; /* <-- Alinea los cositos en el centro */
    margin-top: 12px;
    padding: 20px; /* <-- Aleja las barras del borde*/
    border: rgb(119, 40, 61); /* <-- Color del borde del */
    border-radius: 10px; /* <-- Pa que sea redondo el coso*/
    width: 60%; /* <-- Largo del div */
    background-color: #3B3B3F; /* <-- El color del div */
}

/* <-- El div para los tipos de datos */
.ovalo{
    background-color: #77283D;
    width: 100%;
    height: 45px;
    padding-top: 1px;
    padding-bottom: 24px;
    border-radius: 12px;
}

/*.mini{
    margin-left: 12px;
    background-color:#333;
    width: 50%;
    height: 15px;
    margin-top: 6px;
    padding-left: 24px;
    padding-bottom: 4px;
    border-radius: 12px;
}
*/

                                                        /* < <F O R M S >*/

/* <form> Parte del formulario con la informacion de contacto */
.contacto{
    align-items: center; /* <-- Pa que este centrado el bloque */
    padding: 2px; /* <-- El padding */
    border-radius: 10px; /* <-- Para que la barrita se redonda */
}

/* <form class radio> Parte del formulario donde se marca el tipo de sangre */
.sangre{
    width: 12px;
    padding: 12px;
    margin-bottom: 10px;
    border: 2px solid #3B3B3F;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    background-color: #ffffff;
    transition: border-color 0.3s ease;
    
}

/* Las barritas del input y asi, no se lgm que hice aca pero si saco no anda asi que dejo nomas, vos tampoco saques porfa */
input{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 10px;
    color: #333;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: border-color 0.3s ease;
}

label{
    color: #333;
    display: block;
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type="radio"]{
    accent-color: #77283D; /* <-- color del cosito cuando marcas */
    transform: scale(2.2); /* <--- Para q sea mas grande, como mi */
    margin-right: 8px; /* <--- A estas alturas ya sabemos que es */
    cursor: pointer; /* <--- Para q el cursor sea una manito al poner encima */
}


input[type="checkbox"]{
    width: 12px; /* <-- Tamanio de la cajita que rodea al checkbox */
    height: 18px; /* <-- Tamanio de la cajita que rodea al checkbox */
    accent-color: #77283D; /*<-- Para que al marcar sea color menstruacion */

}

.aclaracion{ /* <--- para donde dice: si marcaste si, tal cosa (bajo los checkboxes)*/
    font-size: 12px;
    color: #333;
}