<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar datos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_confirmacion.css') }}">
    <link rel="icon" href="/imagenes/logopri.png" type="image/png">
</head>
<body>
    <div class="header">
        <!-- <a href="/index.html" class="logoboton">
            <img src="/imagenes/aidex.png" class="logo" alt="logo">
        </a> -->
        <div class="links">
            <li>
                <a href="sobrenosotros.html" class="nav-link">Sobre nosotros</a>
            </li>
        </div>
    </div>
    <div class="bloque">
        <div class="titulo">
            <h2><img src="/imagenes/aidex.png" class="logo" alt="logo"></h2>
        </div>
        <div class="contenido">
            <div class="imagen">
                <!-- <img src="/imagenes/qrejemplo.png" class="qr"> -->
                 {% if persona.codigo_qr %}
                  <img src="{{ persona.codigo_qr }}" alt="QR de emergencia" style="width: 300px; height: 300px;" />
                {% else %}
                  <p class="text-red-600">QR no generado</p>
                {% endif %}
            </div>
            <div class="info">
                <form class="identificador">
                    <h2>Registro completado con éxito.</h2>
                    <h2>Muchísimas gracias!</h2>
                </form>
            </div>
        </div>
    </div>
</body>
<div class="footer">
    <img src="/imagenes/aidex.png" class="logo2"/>
    <h3>© 2025 Todo el dinero resevado para comprar pod.</h3>
</div>
</html>