<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Registros</title>
</head>
<body>
    <h1>Lista de Personas Registradas</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cédula</th>
                <th>Fecha Nac.</th>
                <th>Email</th>
                <th>Contacto</th>
                <th>Tipo de Sangre</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in personas %}
            <tr>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.cedula }}</td>
                <td>{{ persona.fecha }}</td>
                <td>{{ persona.correo }}</td>
                <td>{{ persona.contacto_emergencia }}</td>
                <td>{{ persona.tipo_de_sangre }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
